.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
  }
  .app-container {
    position: relative;
  }
  
  .loading-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  .load-audio-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .load-audio-btn:hover {
    background-color: #0056b3;
  }
  
  .audio-player {
    width: 300%;
    max-width: 800px;
  }

 
  .audio-control {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Square for simplicity, adjust as needed */
    border-radius: 50%; /* Circular buttons */
    background-color: #007bff; /* Matching your primary button color */
    color: white;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    margin: 10px; /* Spacing between buttons */
    margin-top: 20px;
  }
  
  .audio-control:hover {
    background-color: #0056b3;
  }
  
  .audio-control.play:before {
    content: '▶'; /* Play icon */
    font-size: 24px;
    padding-left: 3px;
  }
  
  .audio-control.pause:before {
    content: '⏸'; /* Pause icon */
    font-size: 24px;
  }
  
  .audio-control.start:before {
    padding-top: 2px;
    content: '⏹'; /* Start from beginning icon */
    font-size: 30px;
  }
  .button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.download {
    margin-top: 20px;
}
